

@media (max-width: 900px) {
    .carousel {
      object-fit: cover;
    }
}

.thumbnail{

    flex: 1;
    width: 45px;
    height: 45px;
    max-width: 75px;
    max-height: 75px;
    transition: 'contain';
    border-radius: 50%;

}
.game-carousel{
  
    width: 600px;
    height: 400px;
    max-width: 600px;
    max-height: 400px;
}

